* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: #181818;
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

div {
    display: flex;
    gap: 6px;
    flex-wrap: wrap;

    width: 900px;
    height: 660px;
}

svg {
    position: relative;
}